@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h3>Compra y Venta</h3>
</div>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Colaboradores:</h3>
    </div>
    <div class="panel-body">

        <p><em>Josué Barrantes Suarez Canet: B40908.</em></p>
        <p><em>Carlos Reyes Baltodano Canet: B45734.</em></p>
        <p><em>Jose Gomez Campos Canet: B42856.</em></p>
    </div>
</div>

